<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <!-- Config here. -->
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <filter-mapping>
    <filter-name>login</filter-name>
        <url-pattern>/me</url-pattern>
        <url-pattern>/provider</url-pattern>
        <url-pattern>/service/*</url-pattern>
        <url-pattern>/report/*</url-pattern>
        <url-pattern>/review/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>request</filter-name>
        <url-pattern>/report/*</url-pattern>
        <url-pattern>/review/*</url-pattern>
    </filter-mapping>
</web-app>